#form {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

#login {
    width: 465px;
    height: 30px;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
}

#input {
    height: 30px;
}

#actual {
    background-color: white;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;

    margin: 5px;
    padding: 5px;
    justify-content: center;
  
}

#welcome h1 {
    
    color: blue;
}

#up {
    color: blue;
    cursor: pointer;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
