.Tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  
}

.lel {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.idk{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0px;
}

.title {
  margin: 10px;
}