.Navbar {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}


#logo {
  cursor: pointer;
}

#word {
  cursor: pointer;
  opacity: 0.7;
  padding: 10px;
  color: blue;
  font-weight: bolder;
  font-size: 20px;
}

#word:hover {
  opacity: 1;
}

#sign {
  cursor: pointer;
  border: 1px solid blue;
  color: blue;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  width: 100px;
  text-align: center;
  font-weight: bolder;
  outline: 2px solid blue;
}

#sign:hover {
  text-decoration: underline;
}

#reg {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  background-color: blue;
  font-size: 20px;
  color: white;
  width: 100px;
  text-align: center;
  font-weight: bolder;
  outline: 2px solid blue;
}

a {
  text-decoration: none;
  color: black
}

#reg:hover {
  text-decoration: underline;
}

#hidden {
  display: none;
}

.hidden {
  display: none;
}
